*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}
body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e293b,#312e81);
}
.container{
text-align:center;
}
h1{
color:white;
margin-bottom:25px;
font-size:32px;
}
.calculator{
width:360px;
padding:25px;
border-radius:25px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(18px);
box-shadow:
0 20px 40px rgba(0,0,0,.4);
}
#display{
width:100%;
height:75px;
border:none;
outline:none;
border-radius:18px;
margin-bottom:22px;
padding:15px;
font-size:32px;
text-align:right;
background:#111827;
color:white;
}
.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:14px;
}
button{
height:70px;
border:none;
border-radius:18px;
font-size:22px;
cursor:pointer;
font-weight:600;
transition:.3s;
background:#334155;
color:white;
}
button:hover{
transform:translateY(-4px) scale(1.05);
}
.operator{
background:linear-gradient(135deg,#7c3aed,#4f46e5);
}
.operator:hover{
box-shadow:0 0 18px #7c3aed;
}
.equal{
background:linear-gradient(135deg,#06b6d4,#3b82f6);
}
.equal:hover{
box-shadow:0 0 18px #38bdf8;
}
.special{
background:linear-gradient(135deg,#ef4444,#f97316);
}
.special:hover{
box-shadow:0 0 18px #f97316;
}
.zero{
grid-column:span 2;
background:linear-gradient(135deg,#0ea5e9,#2563eb);
}
